# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*~

# Eclipse project files
.project
.cproject
.settings
*~

# IntelliJ IDEA directory
.idea

# MacOS Desktop Services Store
.DS_Store

.vi_command_history
mapapi-discovery.txt
